# Ignore node_modules directory
node_modules/

# Ignore npm debug log
npm-debug.log

# Ignore built files
dist/

# Ignore environment-specific settings
.env

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-*
*.swp

# Ignore logs
logs/
*.log